<section class="notFound">
    <div class="img bg-dark">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
    </div>
    <div class="text bg-dark text-white">
        <h1>404</h1>
        <br>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <button class="btn btn-primary btn-lg" type="button">HAHAHAHAHAHA</button>
        </a>
        <br>
        <br>
    </div>
</section>
