<div class="bg-info p-2 text-white">
    <br>
    <br>
    <h1>Hi You")</h1>
    <br>
    <br>
    <a href="/keri">    
        <button type="button" class="btn btn-danger">So its bye?</button>
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>I bet u can't make an error  in here")</p>

</div>