<div class="bg-danger p-2 text-white", style="float: left;
    height: 100%;
    min-height: 100%;
    width: 100%;
">
    <br>
    <br>
    <h1>And we meet again!</h1>
    <br>
    <br>
    <a href="/">    
        <button type="button" class="btn btn-warning">Ok then")</button>
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>I bet u can't make an error  in here")</p>
</div>