<div class="bg-danger p-2 text-white", style="background-color: aqua;   height: 100%;">
    <br>
    <br>
    <h1>And we meet again!</h1>
    <br>
    <br>
    <a href="/">    
        <button type="button" class="btn btn-warning">Ok then")</button>
    </a>
    <br>
    <br>
</div>